* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,a,li { font-family: 'Lato'; }

#header {
  width: 100%;
  height: 80px;
  background-color: #30383B;
  text-align: center;
}

#header a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  display: inline-block;
  padding-top: 25px;
}

#header .logo {
  display: inline-block;
  width: 19px;
  height: 10px;
  background-image: url("../img/logo-1@2x.png");
  background-size: 19px 10px;
  position: relative;
  top: 5px;
}

#header .logo:before {
  content: "";
  display: block;
  width: 15px;
  height: 18px;
  background-image: url("../img/logo-2@2x.png");
  background-size: 15px 18px;
  position: relative;
  top: -14px;
  left: 2px;
}

#header ul {
  float: right;
  padding: 0;
  margin: 0;
  position: relative;
  top: 20px;
  right: 40px;
  list-style-type: none;
}

#header ul li {
  float: right;
}

#header ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  padding: 10px 26px;
  background-color: rgba(255,255,255,0.2);
}

.container {
  margin: auto;
}

@media (min-width: 768px) {
  .container { width: 750px }
}

@media (min-width: 992px) {
  .container { width: 970px }
}

@media (min-width: 1200px) {
  .container { width: 1170px }
}

#hero {
  width: 100%;
  padding: 40px 40px;
  background-color: #50B9E6;
  color: #fff;
}

#hero h1 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

#hero h2 {
  font-size: 22px;
  font-weight: 100;
  margin: 0;
  padding-top: 10px;
  line-height: 30px;
}

#hero h2 a {
  color: #fff;
  text-decoration: none;
  border-bottom: dotted 1px #fff;
  font-weight: 300;
}

#hero .inset {
  padding-top: 140px;
}

#hero ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

#hero ul.list li {
  padding: 10px 0;
}

#hero ul.list li:before {
  content: attr(data-num);
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 16px;
  color: rgb(80, 185, 230);
  text-align: center;
  line-height: 32px;
  opacity: 1;
  margin-right: 15px;
}

a.andriod {
  display: inline-block;
  padding: 20px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}

#selfies {
  list-style-type: none;
  z-index: 4;
  position: absolute;
  top: 137px;
  left: 40px;
  width: 220px;
  padding: 0;
  margin: 0;
}

#selfies li {
  width: 220px;
  height: 45px;
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0px 2px 0px 0px #E9EDF0;
  border-radius: 3px;
}

#selfies li .username {
  font-size: 12px;
  color: #666666;
  line-height: 45px;
  padding-left: 10px;
}

#selfies li img.selfie {
  border-radius: 16px;
}

#selfies li:first-child {
  margin-top: 0;

  
}

/* PHONE */

#time {
  display: block;
  position: absolute;
  top: 79px;
  left: 0;
  font-size: 9px;
  font-weight: 100;
  width: 100%;
  text-align: center;
}

.phone {
  position: relative;
  top: 0px;
  background-image: url('../img/iPhone6-SG-alt.png');
}

.phone .screen {
  position: relative;
  overflow: hidden;
}

/* .phone {
  position: relative;
  width: 434px;
  height: 658px;
  top: 0px;
  background-image: url('../img/iPhone6-SG-alt.png');
}

.phone .screen {
  width: 375px;
  height: 551px;
  position: relative;
  top: 107px;
  left: 29px;
  overflow: hidden;
} */

/* @media (max-width: 1200px) { */
  .phone {
    width: 300px;
    height: 613px;
    background-size: 300px 614px;
    top: 0px;
    margin: auto;
  }
  .phone .screen {
    width: 260px;
    height: 463px;
    top: 74px;
    left: 20px;
  }

  .phone .screen img {
    width: 260px;
    height: 463px;
  }
/* } */

@media (max-width: 992px) {
  .phone {
    width: 275px;
    height: 561px;
    background-size: 275px 561px;
  }

  .phone .screen {
    width: 238px;
    height: 424px;
    top: 67px;
    left: 18px;
  }

  .phone .screen img {
    width: 238px;
    height: 424px;
  }
}

#rules {
  width: 100%;
  padding: 60px 40px;
  background-color: #EEF3F6;
  color: #595B5C;
}

#rules h1 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

#rules ol {
  margin: 0;
  padding: 25px;
}

#rules ol li {
  padding: 5px 0;
}


#team {
  width: 100%;
  padding: 60px 40px;
  background-color: #fff;
  color: #595B5C;
}

#team h1 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

#team h1 small {
  opacity: 0.8;
  font-size: 22px;
  line-height: 32px;
}

#team h1 small:before {
  content: "|" ;
  margin-right: 6px;
}

#team .push-top {
  padding-top: 40px;
  text-align: center;
}

#footer {
  width: 100%;
  text-align: center;
  background-color: #EEF3F6;
  color: #A3A6A8;
}

#footer p {
  font-size: 14px;
}
